<div id="appbar">
  <h2 id="titolo" (click)="goHomepage()"><img class="logo" src="../../../assets/images/logo.png"><b>Iutubo</b></h2>
  <div *ngIf="routesService.getcurrentUrl()" id="searchbar">
    <form [formGroup]="SearchForm" class="search-form">
      <input
        type="text"
        class="search"
        formControlName="Search"
        placeholder="Inserisci il titolo del video.."
        name="Search"
      />
      <button
        type="submit"
        id="cerca-button"
        (click)="search()"
        [disabled]="!SearchForm.valid"
      >
        <i class="fa-solid fa-magnifying-glass" style="color: #b6b6b6;"></i>
      </button>
    </form>
  </div>

  <div style="flex-grow: 1;"></div>
  <div *ngIf="Userlogged()" class="right-corner add">
    <i class="fa-solid fa-video fa-2x" style="color: #000000;" alt="UploadVideo" (click)="GoUploadPage()"></i>
  </div>
  <div class="right-corner">

    <img src="../../../assets/images/guest.png" alt="Profile Picture" (click)="clickProfile()">
  </div>
</div>
