#appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  height: 5%;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%;
  z-index: 1000;
  left: 0;
}


.right-corner {
  margin-right: 16px;
  width: 80px;
  margin-left: 25px;
}

.right-corner img {
  width: 40px; /* Adjust the size of the profile picture as needed */
  height: 40px;
  border-radius: 50%; /* Make the image circular */
  margin-left: 20px;
}

.right-corner img:hover {
  cursor: pointer;
}
.add img:hover{
  background-color: rgba(255, 99, 71, 0.547);
  color: white;
  cursor: pointer;
}

#searchbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 14%;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(182, 182, 182);
  position: relative; /* Add relative positioning */
}

.fa-solid:hover {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add a transition property */
  background-color: rgba(255, 0, 0, 0.266);
  border-radius: 50%;
}


.search {
  width: 80%;
  flex-grow: 1;
  width: auto;
  padding: 8px;
  font-size: 16px;
  border: none;

  outline: none;
  color: rgb(182, 182, 182);
}

.search-form {
  display: flex;
  width: 100%;
}

#cerca-button {
  border: none;
  background-color: white;
  border-left: 3px;
  border-style: solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  width: 14%;
  padding: 8px 12px;

  cursor: pointer;
  color: rgb(182, 182, 182);
  height: 100%; /* Set button height to 100% */
  position: absolute; /* Add absolute positioning */
  right: 0; /* Position the button to the right */
  top: 0; /* Position the button at the top */
}

#titolo {
  margin: 0; /* Remove the default margin */
}
