#appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  height: 5%;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%;
  z-index: 1000;
}


.right-corner {
  margin-right: 16px;
  width: 80px;
  margin-left: 25px;
}

.right-corner img {
  width: 40px; /* Adjust the size of the profile picture as needed */
  height: 40px;
  border-radius: 50%; /* Make the image circular */
  margin-left: 20px;
}

.right-corner img:hover {
  cursor: pointer;
}
.right-corner button:hover{
  background-color: tomato;
  color: white;
  cursor: pointer;
}

#searchbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 16px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(182, 182, 182);
}

#searchbar input[type="text"] {
  flex-grow: 1;
  width: auto;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px; /* Rounded corners on the left side */
  outline: none;
  color: rgb(182, 182, 182);
}

#cerca-button {
  border: none;
  background-color: white;
  border-left: 3px;
  border-style: solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;

  padding: 8px 12px;
  border-radius: 0 4px 4px 0; /* Rounded corners on the right side */
  cursor: pointer;
  color: rgb(182, 182, 182);
  height: 100%; /* Set button height to 100% */

}
