.sub-form {
  margin-left: 10%;
  margin-top: 6%;
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* Update to 4 columns */
  grid-gap: 5px;

}

h3 {
  margin-left: 12.5%;
  margin-top: 5%;
}
