.app-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: auto/*calc(100% -15vh);*/
}
.video-page-container {
  margin-left: 120px; /* Set this value equal to the width of the sidebar */
  width: 60rem;
  margin-top: 1.5%;
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: auto; /*120vh; Adjust the height as needed */
 }
.video-wrapper {
  width:  100% ;/* Adjust the width as needed */
  display: flex;
  justify-content: flex-start;
  align-items: left;
  height: 30rem;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;

}

.subscribe-button,
.like-button {
  background-color: transparent;
  height: 10%;
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.subscribe-button button,
.like-button button {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}


.video-wrapper iframe {
  width: 100%;
}
.video-info {
  text-align: left;
}

.video-title {
  color: black;
  margin-bottom: 20px;
  font-size: 80px;
}

.video-details {
  display: flex;
  align-items: left;
  justify-content: left;
}

.video-username {
  margin-right: 10px;
}
.img{
  width: 20px;
  height: 20px;
  padding: 0;
}

.show-description-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  margin-top: 2%;
}
.comment-section{
  align-items: center;
  width: 100%;
}

#buttonComment {
  background-color: tomato;
  color: white;
  padding: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #ccc;
  width: 20%;
}

#buttonComment:hover {
  cursor:pointer;
  background-color: rgb(193, 67, 45);

}




#inputComment {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  width: 78%;
}
.CommentForm{
  width: 100%;
}
.urcomment{
  width: 100%;
}


.video-section {
  display: flex;
  align-items: center;
  margin-top: 15%;
}

.video-details-row {
  display: flex;
  align-items: center;
}

.views {
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.subscribe-like-container {
  display: flex;
  align-items: center;
}

.subscribe-button{
  margin-left: 200px;
}


.like-button {
  background-color: transparent;
}


