.video-page-container {
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh; /* Adjust the height as needed */
}

.video-wrapper {
  width: 80%; /* Adjust the width as needed */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100%;
}


.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.video-info {
  text-align: center;
}

.video-title {
  color: black;
  margin-bottom: 20px;
  font-size: 80px;
}

.video-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-username {
  margin-right: 10px;
}

.show-description-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
}

#buttonComment {
  background-color: tomato;
  color: white;
  padding: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #ccc;
}

#buttonComment:hover {
  cursor:pointer;
  background-color: rgb(193, 67, 45);

}




#inputComment {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  width: 358px;
}
