<div class="app-container">
  <div class="video-page-container shadow">
    <div>
      <div class="video-wrapper">
        <iframe [src]="sanitize(body.linkvideo)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
      </div>
    </div>
    <div class="video-info">
      <div class="video-title">{{ body.titolo }}</div>
      <div class="video-details">
        <div class="video-details-row">
          <div class="video-section">
            <div class="subscribe-button">
              <div class="channel-info">
                <img src="../../../assets/images/guest.png" alt="Profile Picture" class="profile-picture">
                <div class="channel-info-details">
                  <span class="username">{{ body.utente_username }}</span>
                  <span class="subscriber-count">{{ body.utente_iscrizioni_count }} subscribers</span>
                </div>
              </div>

              <button *ngIf="!personale" (click)="trySubscribe()">{{ iscritto ? 'Unsubscribe' : 'Subscribe' }}</button>
            </div>
            <div class="views">
              <!-- Display the views count here -->
              <span>Views: {{ views}}</span>
            </div>
            <div class="button-container">
              <div class="subscribe-like-container">
                <div class="like-button">
                  <button (click)="likeChange()">
                    Likes: {{ likes }}
                    <i class="fa-solid fa-thumbs-up" *ngIf="utenteLiked; else otherImg" style="color: #0a64ff;"></i>
                    <ng-template #otherImg>
                      <i class="fa-regular fa-thumbs-up"></i>
                    </ng-template>
                  </button>
                </div>
                <div class="playlist-button">
                  <button (click)="managePlaylist()">Aggiungi a playlist</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="show-description-button" (click)="toggleDescription()">{{ showDescription ? 'Nascondi descrizione' : 'Mostra descrizione' }}</button>
      <p class="video-description" [hidden]="!showDescription">{{ body.descrizione }}</p>
    </div>
    <div class="comment-section">
      <h3>Sezione commenti:</h3>
      <div class="comment-list">
        <div class="urcomment">
          <form class="CommentForm" [formGroup]="CommentForm" (submit)="registerComment()">
            <input id="inputComment" formControlName="Text" placeholder="Commenta..">
            <button type="Submit" id="buttonComment" [disabled]="!CommentForm.valid">Invia</button>
          </form>
        </div>
        <app-commento class="commento" *ngFor="let commento of comments" [commento]="commento"></app-commento>
      </div>
    </div>
  </div>
  <app-side-video-bar></app-side-video-bar>
</div>
