

#credenziali {
  margin-top: 5%;
}

.profile-card {
  margin-top: 20px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.profile-card h2 {
  margin-top: 10px;
}

.profile-card p {
  margin-top: 5px;
}

