<!DOCTYPE html>
<div id="credenziali">
  <p>Ciao {{ utente.username }} questo è il tuo profilo:</p>

  <div class="profile-card">
    <img  class="profile-picture" [src]="utente.linkppic || '../../../assets/images/guest.png'">
    <h2>{{ utente.nome }} {{ utente.cognome }}</h2>
    <p>Username: {{ utente.username }}</p>
    <p>Email: {{ utente.email }}</p>
  </div>

  <button class="LogOut" (click)="logOut()">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
    LogOut
  </button>
</div>

