<div class="comment-card">
  <div class="profile-section">
    <img class="pfp" src="{{commento.utente_pic}}">
    <div class="row">
      <div class="utente_username">{{ commento.utente_username }}</div>
      <div class="created_at">  {{ this.vidService.getTimeSince(commento.created_at) }}</div>
    </div>

  </div>
  <div class="comment-text">
    <h2>{{ commento.testo }}</h2>
  </div>
  <div class="like-button">
    <button (click)="likeChange()" id="arnoldschwarzenegger">
      <i class="fa-solid fa-thumbs-up fa-2x" style="color: #0a64ff;" *ngIf="utenteLiked; else otherIcon"></i>
      <ng-template #otherIcon>
        <i class="fa-regular fa-thumbs-up fa-2x"></i>
      </ng-template>
      {{ this.commento_body.like }}
    </button>
  </div>
</div>
