<div id="appbar">
  <h2 id="titolo"><b>Iutubo</b></h2>
  <div id="searchbar">
    <input type="text" [(ngModel)]="ricercaValue" (click)="clickText()">
  </div>
  <div id="right-corner">
    <img src="../../../assets/images/guest.png" alt="Profile Picture" (click)="clickProfile()">
  </div>
</div>
<div id="restpage">

<div class="video-container">
<iframe  src="https://www.youtube.com/embed/sXZk9u3I_EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
</div>

<div class="video-container">
  <iframe  src="https://www.youtube.com/embed/sXZk9u3I_EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
  </div>

  <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/sXZk9u3I_EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
    </div>



</div>
