<app-appbar></app-appbar>
<div id="restpage">

  <div class="video-container">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/sXZk9u3I_EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
      <h3 class="video-title">Sugo</h3>
    </div>
  </div>

  <div class="video-container">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/sXZk9u3I_EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
      <h3 class="video-title">Patate</h3>
    </div>
  </div>

  <div class="video-container">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/sXZk9u3I_EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
      <h3 class="video-title">Picciriddu</h3>
    </div>
  </div>





</div>
