

#restpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-container {
  width: calc(33.33% - 1px); /* Adjust the width as per your requirements */
  margin-top: 16px;
  justify-content: center
}

.video-container iframe {
  max-width: 100%;
  max-height: 100%;
}
