<div *ngIf="primoAccesso">
  <form [formGroup]="loginFormAB">

    <div id="credenziali">
      <p id="titoletto"><b>Inserisci le tue credenziali:</b></p>
      <div *ngIf="auth.errorMessage$ | async as errorMessage">
        <div class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </div>
      <div>
        <input type="text" formControlName="useremail" class="input-field" placeholder="Email o Username"requiredname="useremail"/>
      </div>
      <div>
        <input
          type="password"
          formControlName="password"
          class="input-field"
          placeholder="Password"
          required
          name="password"
        />
      </div>
      <div>
        <button type="submit" class="btn" (click)="tryLogin()" [disabled]="!loginFormAB.valid">Login</button>
      </div>
      <div><a (click)="goRegister()">Non hai ancora un account? Registrati!</a></div>
    </div>
  </form>

</div>

<div *ngIf="!primoAccesso">
  <!-- Show other options for returning users -->
  <div>
    <!-- Add your content for returning users here -->
  </div>
</div>
