<form [formGroup]="registerForm">
  <div id="credenziali">
    <p id="titoletto"><b>Inserisci le tue credenziali:</b></p>
    <div *ngIf="auth.errorMessage$ | async as errorMessage">
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
    <div>
      <input
        type="text"
        formControlName="username"
        class="input-field"
        placeholder="Username"
        name="username"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="email"
        class="input-field"
        placeholder="Email"
        name="email"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="nome"
        class="input-field"
        placeholder="Nome"
        name="nome"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="cognome"
        class="input-field"
        placeholder="Cognome"
        name="cognome"
      />
    </div>
    <div>
      <input
        type="password"
        formControlName="password"
        class="input-field"
        placeholder="Password"
        name="password"
      />
    </div>
    <div>
      <input
      type="text"
      formControlName="image"
      class="input-field"
      placeholder="Immagine profilo"
      name="password"
    />
    </div>
    <div class="Scelta">Scelta banner
      <div class="radiocontainer">
      <input type="radio" id="color1" name="color" value="color1">
      <label for="color1"></label><br>
      <input type="radio" id="color2" name="color" value="color2">
      <label for="color2"></label><br>
      <input type="radio" id="color3" name="color" value="color3">
      <label for="color3"></label><br>
      <input type="radio" id="color4" name="color" value="color4">
      <label for="color4"></label><br>
      <input type="radio" id="color5" name="color" value="color5">
      <label for="color5"></label>
    </div>
    </div>


    <div>
      <button type="submit" class="btn-form" (click)="tryRegister()" [disabled]="!registerForm.valid">Register</button>
    </div>
    <div><a (click)="goLogin()">Hai già un account? Effettua il Login</a></div>
  </div>
</form>
