.radiocontainer{
  display: flex;
}
.Scelta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=radio] {
  display: none;
}

input[type=radio] + label {
width: 2rem;
height: 2rem;
border-radius: 0.5rem;
  padding: 4px 12px;
  margin-right: 10px;
  transition: transform 0.2s;
}

input[type=radio]:checked + label {
  transform: scale(1.2);
}

#color1 + label {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9FE4qfNSgca_fD4rKN1Gp5x0Y8plVNocOMZTbq7X5eklyRNNqJD0erTbbQwcvEGrIvEg);
  background-size: cover;
  background-position: center;
}

#color2 + label {
  background-image: url(https://i.kym-cdn.com/entries/icons/original/000/035/935/cover3.jpg);
  background-size: cover;
  background-position: center;
}

#color3 + label {
  background-image: url(https://i.pinimg.com/originals/11/00/9c/11009c45e47f561cf558ce4b853f7955.jpg);
  background-position: center;
  background-size: cover;

}

#color4 + label {
  background-image: url(https://thumbs.gfycat.com/AdventurousSimplisticArmedcrab-size_restricted.gif);
  background-size: cover;
  background-position: center;
}


#color5 + label {
  background-image: url(https://pbs.twimg.com/media/FgKxcFfXgAAFb9k.jpg);
  background-size: cover;
  background-position: center;
}

