.sidebar {
  z-index: 900;
  width: auto;
  border-right: 1px;
  border-left: 0;
  border-top: 0;
  border-style: solid;
  right: 0;
  padding-left: 10px;
  position: sticky;
  display:flex;

 }
.videos-container {
 display: flex;
 flex-direction: column;
}
