<form [formGroup]="UploadForm">
  <div id="VideoD">
    <p class="titoletto"><b>Carica video</b></p>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="response" class="blue-section">
      {{ response.message }}
    </div>
    <div>
      <input
        type="text"
        formControlName="titolo"
        class="inputtag"
        placeholder="Titolo"
        name="titolo"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="descrizione"
        class="inputtag"
        placeholder="Descrizione"
        name="descrizione"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="linkvideo"
        class="inputtag"
        placeholder="Linkvideo"
        name="linkvideo"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="linkimage"
        class="inputtag"
        placeholder="Linkimage"
        name="linkimage"
      />
    </div>
    <div>

      <div class="input-container">
        <input
          type="text"
          formControlName="newTag"
          class="inputtag"
          placeholder="Aggiungi tag"
          name="newTag"
        />
        <button class="buttontag" (click)="addTag()">


          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>

        </button>
      </div>

      <div class="titoletto">
        Tag:
      </div>
      <div *ngIf="inValidTag">
        <div class="alert alert-danger">
          {{ taginvalidmessage }}
        </div>
      </div>

      <ul>
        <li *ngFor="let tag of tags; let i = index">
          {{ tag }}
          <button (click)="deleteTag(i)">x</button>
        </li>
      </ul>
    </div>
    <div>
      <button type="submit" class="btn" (click)="Upload()" [disabled]="!UploadForm.valid">

        <i class="fa-solid fa-upload fa-2x" style="color: #ffffff;"></i>
      </button>
    </div>
  </div>
</form>
