<form [formGroup]="UploadForm">
  <div id="VideoD">
    <p class="titoletto"><b>Inserisci le caratteristiche del video:</b></p>

    <div *ngIf="Service.errorMessage$ | async as errorMessage">
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
    <div>
      <input
        type="text"
        formControlName="titolo"
        class="input-field"
        placeholder="titolo"
        name="titolo"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="descrizione"
        class="input-field"
        placeholder="descrizione"
        name="descrizione"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="linkvideo"
        class="input-field"
        placeholder="linkvideo"
        name="linkvideo"
      />
    </div>
    <div>
      <input
        type="text"
        formControlName="linkimage"
        class="input-field"
        placeholder="linkimage"
        name="linkimage"
      />
    </div>
    <div>

      <div>
        <input
          type="text"
          formControlName="newTag"
          class="input-field inputtag"
          placeholder="Add a tag"
          name="newTag"
        />
        <button class='buttontag' (click)="addTag()">Add</button>


      </div>
      <div class="titoletto">
        tags
      </div>
      <div *ngIf="inValidTag">
        <div class="alert alert-danger">
          {{ taginvalidmessage }}
        </div>
       </div>


      <ul>
        <li *ngFor="let tag of tags; let i = index">
          {{ tag }}
          <button (click)="deleteTag(i)">x</button>
        </li>
      </ul>
    </div>
    <div>
      <button type="submit" class="btn" (click)="Upload()" [disabled]="!UploadForm.valid">UpLoad</button>
    </div>
  </div>
</form>
