#VideoD {
  margin: 0 auto;
  max-width: 600px;
  padding: 16px;
  text-align: center;
  margin-top: 20px;
}

form {
  margin-top: 5%;
}

div {
  margin-top: 1%;
}

.input-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

.inputtag {
  flex: 1;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #f4f4f4;
  border: 1px solid;
  padding: 6px 8px;
  height: 28px;
  width: 95%;
}
.blue-section {
  background-color: blue;
  color: white;
  padding: 10px;
}
.buttontag {
  flex-shrink: 0;
  background-color: tomato;
  color: white;
  padding: 4px 8px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #000000;
  border-left: 0;
  cursor: pointer;
  box-sizing: border-box;
  height: 41.5px;
  margin-left: -2px;
}

.inputtag:focus + .buttontag {
  border-color: black;
  border-width: 2px;
  border-left: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  list-style: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  color: #848484;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: smaller;
}

button {
  margin-left: 5px;
  height: 100%;
}

.input-container {
  margin-top: 5px;
}

.inputtag:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-container {
  margin-top: 5px;
  height: 100%;
}

.btn1 {
  background-color: tomato;
  border-radius: 18px;
  width: 80%;
  margin-right: 5%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition effect for background-color and transform */
}

.btn1:hover {
  background-color: rgb(253, 78, 47);
  cursor: pointer;
  transform: scale(1.05); /* Add scale transformation on hover */
}



.inputtag:focus + .buttontag {
  border-color: black;
  border-width: 2px;
  border-left: 0;
}
