
.sidebar {
  width: 15vh; /* Adjust the width as needed */
  /* Adjust the background color as needed */
  border-right: 1px;
  border-left: 0;
  border-top: 0;
  border-style: solid;
  position: fixed;
  height: 100%;
  top: 0;
  height: 100%;
  z-index: 900;
  background-color: white;
}
.app-container{
  display: flex;
  flex-direction: row;
}

.sidebar:first-of-type {
  left: 0;
}

.sidebar:last-of-type {
  right: 0;
}

.content {
 flex: 1;
 padding-left: 20px; /* Adjust the padding as needed */
}

.video-page-container {
 margin-left: 120px; /* Set this value equal to the width of the sidebar */
}


.button-container {
  display: flex;
  flex-direction: column;

}

.button-container button {
  height: 50px;
  width: auto;
  margin-bottom: 150px; /* Adjust the vertical spacing between buttons as needed */
  border: 1px;
  border-style: solid;
  border-radius: 20%;
}


.button-container button:hover{
  background-color: tomato;
  color: white;
  cursor: pointer;
}

#firstBut {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  margin-top: 48%;
}
