<div class="app-container">
  <div class="sidebar">
    <div class="button-container">
      <button
  id="firstBut"
  (click)="goHomepage()"
  [ngClass]="{'active-page': isActive('/homepage')}">
  <i class="fas fa-home fa-2x" ></i>
</button>
<button
  *ngIf="routesService.getcurrentUrl()"
  (click)="goMyChannel()"
  [ngClass]="{'active-page': this.channelSer.isMyChannel()}">
  <i class="fa-solid fa-user fa-2x"></i>
</button>
<button
  *ngIf="routesService.getcurrentUrl()"
  (click)="goSubscriptions()"
  [ngClass]="{'active-page': isActive('/subscriptions')}">
  <i class="fa-solid fa-users-rectangle fa-2x" ></i>
</button>
    <button
    *ngIf="routesService.getcurrentUrl()"
    (click)="goHistory()"
    [ngClass]="{'active-page': isActive('/history')}"
>
    <i class="fa-solid fa-clock-rotate-left fa-2x" ></i></button>


    </div>

  </div>
</div>
