.video-container {
  flex: 0 0 calc(33.33% - 5px); /* Adjust the width and spacing as needed */
  height: auto;
  margin-top: 20px;
  border: 1px solid rgb(250, 249, 249);
  box-sizing: content-box;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  height: auto;
  margin-bottom: 4%;
  border-radius: 1rem;
  width: 16rem; /* Set this value equal to the desired width of the video container */
  position: relative;
 }

 .video-wrapper {
  width: 100%;
 }

 .video-wrapper iframe {
  max-width: 100%;
  max-height: 100%;
  margin-top: 8px;
 }

 .video-container:hover {
  cursor:pointer;
  box-shadow:0 0 8px rgba(0,0,0,0.1);
 }
 .img {
  border-radius: 0.75rem;
  width: 16rem;
  height: 9rem;
  object-fit: cover;
}


.username-container {
  display: flex;
  align-items: center;
}

.user-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

